@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.App {
	text-align: center;
}

h1 {
	color: #000;
	margin-bottom: 0.5rem;
	font-size: 1.75rem;
}

.TodoWrapper {
	background: #fff;
	margin-top: 5rem;
	padding: 2rem;
	border-radius: 5px;
	box-shadow: #d1d1d1 0 0 16px;
}

.TodoForm {
	width: 100%;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.input-box {
	border-radius: 8px;
}

.todo-input {
	outline: none;
	background: none;
	border: 1px solid #d1d1d1;
	padding: 0.5rem 1em;
	width: 300px;
	color: #000;
	border-radius: 8px 0 0 8px;
}

.todo-input::placeholder {
	color: #000;
}

.todo-btn {
	background: #d1d1d1;
	color: #000;
	border: none;
	border-radius: 0 8px 8px 0;
	padding: 0.55rem;
	cursor: pointer;
}

.Todo {
	box-shadow: #d1d1d1 0 0 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	color: #000;
	padding: 0.75rem 1rem;
	border-radius: 5px;
	margin-bottom: 1rem;
	margin-top: 1rem;
	cursor: pointer;
}

.fa-trash {
	margin-left: 0.75rem;
}

.completed {
	color: #d1d1d1;
	text-decoration: line-through;
}
